body {
  font-family: Roboto;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1f2937;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.links {
  display: flex;
  gap: 20px;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  background-color: #1f2937;
}

.hero-img {
  width: 600px;
  height: 250px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  align-items: flex-start;
  justify-content: center;
}

.primary-hero-text {
  margin-bottom: 0;
  font-weight: 900px;
  font-size: 48px;
  color: #e5e7eb;
}

.secondary-hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.sign-up-button {
  padding: 5px 15px;
  color: white;
  font-weight: 900;
  background-color: #3882f6;
  border-style: none;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  gap: 20px;
}

.card-img {
  width: 200px;
  height: 200px;
  border-radius: 16px;
}

h2 {
  margin-bottom: 40px;
  text-align: center;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.description {
  word-wrap: break-word;
  color: gray;
}
